* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: url("/static/img/farm-bg.jpg") no-repeat center center / cover;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #ffffff;
    padding: 32px;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    text-align: center;
    margin: auto;
}

@media (max-width: 768px) {
    .login-card {
        padding: 24px;
        max-width: 90%;
    }
}


.login-card h1 {
    margin-bottom: 10px;
}

.login-form {
    margin-top: 20px;
    text-align: left;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

.error {
    color: red;
    margin-top: 10px;
}
